.page-container {
 min-height: 100vh;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: radial-gradient(circle at center, #ffffff 10%, #eaeaea 100%);
  flex-direction: column;
  overflow-x: hidden;
  color: #333;
  background-attachment: fixed;
  padding: 20px;
  position: relative;

}
/* Navbar Styles */
nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-sizing: border-box;
  z-index: 20;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  width: 40px;
  height: 40px;
  background-color: #4f46e5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  box-shadow: 0 4px 10px rgba(79, 70, 229, 0.3);
}

.logo-text {
  font-size: 1.25rem;
  font-weight: bold;
  color: #1e293b;
}
h1{
text-align: center;
position: relative;
}